body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
    background-image: linear-gradient(black, rgb(100, 43, 43), #0c2f35);
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}
.traa {
    text-align: center;
    color: white;
    margin-top: 10rem;
}
.container h1 {
    text-align: center;
}
.container h2 {
    text-align: center;
}

form {
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 8px;
    text-align: left;
}

button {
    padding: 10px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
